

<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<div>
<h2><%= "There are currently #{@consensus_genes_count.count} genes linked to cancer."%></h2>
</div>
<br>
<div>
 <%= form_tag cancers_path, :method => 'get' do %>
 <p>
  <%= text_field_tag :search, params[:search], class: "label-control" %>
  <%= submit_tag "Search", name: nil%>
 </p>
 <% end %>
</div>

<div class="manual-table columns">
  <table>
    <thead>
     <tr>
      <th class="column column-twelve">
       Cancer Genes
      </th>
      <th class="column-eight">
       Somatic
      </th>
      <th class="column-eight">
       Germline
      </th>
      <th class="col-md-1">
       Chromosome
      </th>
      <th class="col-md-1">
       Gene show page
      </th>
     </tr>

    </thead>
    <tbody>
     <% @consensus_cancer_genes.sort.each do |cancer_genes| %>
     <tr>
     <td class="column column-twelve">
     <%= link_to "#{cancer_genes.gene_symbol}", "http://www.ncbi.nlm.nih.gov/gene/#{cancer_genes.entrez_geneid}"%>
    </td>
    <td class="column-eight">
      <%if cancer_genes.tumour_types_somatic == "false"%>
        <%= "-" %>
      <% else %>
        <%= "+" %>
      <% end %>
    </td>
    <td class="column-eight">
      <%if cancer_genes.tumour_types_germline == "false"%>
        <%= "-" %>
      <% else %>
        <%= "+" %>
      <% end %>
    </td>
   <td class="col-md-1">
   <%= "#{cancer_genes.chr}"%>
   <td class="col-md-1">
    <%= link_to "#{cancer_genes.gene_symbol}", cancer_path(cancer_genes)%>
   </td>

  </td>
 </tr>
 <% end %>

    </tbody>
  </table>
</div>

<%= paginate @consensus_cancer_genes %>
