

<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<div>
<%= link_to "COSMIC upload", new_cancer_path, class: "btn btn-primary pull-right" %>
<h2><%= "There are currently #{@consensus_genes_count.count} genes linked to cancer."%></h2>
</div>
<br>
<div>
 <%= form_tag cancers_path, :method => 'get' do %>
 <p>
  <%= text_field_tag :search, params[:search], class: "label-control" %>
  <%= submit_tag "Search", name: nil%>
 </p>
 <% end %>
</div>
<div class="table">
  <table>
    <thead>
     <tr>
      <th class="col-md-1">
       Cancer Genes
      </th>
      <th class="col-md-1">
       Somatic Tumours
      </th>
      <th class="col-md-1">
       Germline Tumours
      </th>
      <th class="col-md-1">
       Chromosome
      </th>
      <th class="col-md-1">
       Gene show page
      </th>
     </tr>
      <!-- <tr>
        <th class="col-md-1">
          Cancer
        </th>
        <th class="col-md-3">
          Associated Genes
        </th>
        <th class="col-md-1">
          Edit
        </th>
      </tr> -->
    </thead>
    <tbody>

     <% @consensus_cancer_genes.sort.each do |cancer_genes| %>
     <tr>
     <td class="col-md-1">
     <%= link_to "#{cancer_genes.gene_symbol}", "http://www.ncbi.nlm.nih.gov/gene/#{cancer_genes.entrez_geneid}"%>
    </td>
    <td class="col-md-1">
     <%= "#{cancer_genes.tumour_types_somatic}"%>
    </td>
    <td class="col-md-1">
     <%= "#{cancer_genes.tumour_types_germline}"%>
    </td>
   <td class="col-md-1">
   <%= "#{cancer_genes.chr}"%>
   <td class="col-md-1">
    <%= link_to "#{cancer_genes.gene_symbol}", cancer_path(cancer_genes)%>
   </td>

  </td>
 </tr>
 <% end %>

      <!-- <%# @cancers.sort.each do |cancer| %>
      <tr>
        <td class="col-md-1">
          <%#= link_to "#{cancer.name}", "http://en.wikipedia.org/wiki/#{cancer.search_name}" %>
        </td>
        <td class="col-md-3">
          <%#= link_to "#{cancer.genes}", "http://en.wikipedia.org/wiki/#{cancer.gene_search_name}" %>
        </td>
        <td class="col-md-1">
          <%#= link_to "Edit", edit_cancer_path(cancer) %>
        </td>
      </tr>
      <%# end %> -->
    </tbody>
  </table>
</div>

<%= paginate @consensus_cancer_genes %>
