

<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<div>
<h2 class="header-normalizer"><%= "This is a complete list of the #{@consensus_genes_count.count} known genes involved in human cancers"%></h2>
</div>
<br>
<div>
</div>
<div class="container clearfix columns manual-table-header">
  <div class="tumor-collection">
    <%= form_tag do %>
    <%=collection_select(:cancer, Mutation.unique_histology, @mutation_list, :id, :original_histology, {:include_blank=> "Pick tumor type"}, {:class=>'shrink-me'})%>
    <% end %>
  </div>

  <%= form_tag cancers_path, :method => 'get' do %>
   <p>
    <%= text_field_tag :search, params[:search], class: "search-float" %>
    <%= submit_tag "Search", name: nil%>
   </p>
   <% end %>


</div>
<div class="manual-table columns">
  <table>
    <thead>
     <tr>
     </tr>

    </thead>
    <tbody>
     <% @consensus_cancer_genes.sort.each do |cancer_genes| %>
         <button class="cancer-entry marginalize"><%= link_to "#{cancer_genes.gene_symbol}", cancer_path(cancer_genes)%></button>
       <% end %>
    </tbody>
  </table>
</div>
<div class='filler'>

</div>
