

<% if notice != nil %>
  <div class="alert alert-danger cancer-index-notice">
    <%= notice %>
</div>
<% end %>
<div>
  <% if (params[:search] == nil || params[:search] == "") && (params[:original_histology] == nil || params[:original_histology] == "")%>
    <h2 class="header-normalizer"><%= "List of #{@consensus_genes_count} known genes involved in human cancers."%></h2>
  <% elsif  (params[:search] == nil || params[:search] == "")%>
    <h2 class="header-normalizer"><%= "#{params[:original_histology].capitalize} associated genes"%></h2>
  <% else %>
  <h2 class="header-normalizer"><%= "Genes associated with your search."%></h2>

  <% end %>
</div>
<br>
<div>
</div>
<div class="container clearfix columns manual-table-header">
  <div>

        <span class="shift-back">
          <% if (params[:search] == nil || params[:search] == "") && (params[:original_histology] == nil || params[:original_histology] == "")%>
            <%= "All #{@consensus_genes_count} genes currently showing." %>
            <% else %>
        <%=ActionController::Base.helpers.pluralize(@consensus_genes_count, 'gene')%>
        <%="found in your search."%>
        <% end %>
        </span>
  </div>
  <div class="two-column column ">
  <%= form_tag cancers_path, :method => 'get' do %>
   <p>
    <%= text_field_tag :search, params[:search], class: "search-float" %>
    <%= submit_tag "Search", name: nil, class: "search-form"%>
   </p>
   <% end %>
 </div>
  <div class="six-column column pulldown-format">
  <%=form_tag({ :action => "index"}, { :method => "get" }) do %>
    <% @fillers = "Select tumour type...."%>
    <%=select_tag(:original_histology, options_for_select(@mutation_test), {:select => "Select tumour type...", class: "search-float"} )%>
    <%= submit_tag("Submit", name: "Tumour-types", class: "search-form smaller") %>
  <% end %>
  </div>

</div>
<div class="manual-table columns">
  <table>
    <thead>
     <tr>
     </tr>
    </thead>
    <tbody>
     <% @consensus_cancer_genes.sort.each do |cancer_genes| %>
     <%= button_to "#{cancer_genes.gene_symbol}", cancer_path(cancer_genes), class: "cancer-entry marginalize", method: :get %>
       <% end %>
    </tbody>
  </table>
</div>
<div class='filler'>

</div>
