<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<div class='container alert alert-warning col-md-12'>

<h5>Full gene name: <%=" #{@consensus_cancer_gene.name}"%></h5>
<h5>Genes abbr: <%=" #{@consensus_cancer_gene.gene_symbol}"%></h5>
<h5>Unique Mutations: <%= @mutties_not_zero.count %></h5>
<h5>Mutation counter: <%= @mutties_counter %> with <%=ActionController::Base.helpers.pluralize(@cut_off, 'hit')%> or more</h5>
</div>


<div class="mutation_graph" data-thong="<%=@mutties.to_json%>"></div>
