<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<h2 class="gene-header"><%=" #{@consensus_cancer_gene.gene_symbol} - #{@consensus_cancer_gene.name.capitalize}"%></h2>
  <div class="mutation_container clearfix">
    <div class="single_mutation_data">
        <div class="inner-container">
            <article class='single-gene-details clearfix'>
                <section class="column show-column first">
                    <% if current_user %>
                    <%@current_gene_array.push(@consensus_cancer_gene.id) %>
                    <%@current_gene_array = @current_gene_array.uniq%>
                    <span><%=button_to "Add gene",
                  { :controller=>'users', :action=>'update',
                    'user'=>{:my_genes=>@current_gene_array}, :id=>current_user.id },
                    class: "link-format adjustable add-gene", :method => :patch %>
                    <% end %></span>

                    <%= button_to "NCBI: #{@consensus_cancer_gene.gene_symbol}",
                    "http://www.ncbi.nlm.nih.gov/gene/#{@consensus_cancer_gene.entrez_geneid}",
                    class: "link-format adjustable", method: :get %>

                  <p>Mutations: <%= @mutties_not_zero.count %></p>


                </section>
                <section class="column show-column">
                  <% if @consensus_cancer_gene.somatic == nil %>
                    <p>Somatic:<%= " No" %></p>
                  <% else %>
                    <p>Somatic:<%= " #{@consensus_cancer_gene.somatic.capitalize}" %></p>
                  <% end %>
                  <% if @consensus_cancer_gene.germline == nil %>
                    <p>Germline:<%= " No" %></p>
                  <% else %>
                    <p>Germline:<%= " #{@consensus_cancer_gene.germline}" %></p>
                  <% end %>
                </section>
                <section class="column show-column tummie-media">
                  <p class="highlights" >Associated tumours: <%= @new_hist_array.count  %></p>
                  <p>
                    <%=@histology_list%>
                  </p>
                </section>
              </article>
              <div class="tummie-list">
              <article class="single-gene-details clearfix">
                <section>
                    <p class="highlights" >Associated tumours: <%= @new_hist_array.count  %></p>
                    <ol>
                    <%@new_hist_array.each do |tumuor|%>
                      <li><%= tumuor.capitalize %></li>
                    <% end %>
                    </ol>
                </section>
            </article>
          </div>
        </div>
    </div>
    <article class="columns clearfix shift">
        <span class="cuttoffCounter">
          <%=form_tag({ :action => "show"}, { :method => "get"}) do %>
            <%=select_tag(:mutation_cut_off, options_for_select([1,2,5,10,50,100,500,1000], params[:mutation_cut_off]),
            {:include_blank => true, class: "search-float",  data: {behavior: "autosubmit"}} )%>
          <% end %>
        </span>
      <section class="title-center">
        <%="#{@mutties_counter} mutations (Hit rate: #{@cut_off})"%>
      </section>

        <br>
      <section class="column column-two media-change">
        <p>Type:<span class="push-right" id="mtype"></span></p>
        <p>cDNA pos:<span class="push-right" id="initial_position"> </span></p>
        <p>Seq count:<span class="push-right" id="mutation_count"> X</span> </p>
      </section>
      <section class="column">
        <p>Hit rate:<span class="push-right"><%="#{@cut_off}"%></span></p>
        <p>WT nt:<span class="push-right" id="wtype"></span></p>
        <p>Mutant nt:<span class="push-right" id="specific_mutation"> </span></p>
      </section>
    </article>
    <div class="mutation_graph"></div>
  </div>

<% content_for(:js) do %>
  <script>
    $(function () {
      SingleGeneGraph.init(<%= @mutties_json.html_safe %>);
    });
  </script>
<% end %>
