<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<div class='container alert alert-warning col-md-12'>

<h4>Cancer type: <%=" #{@consensus_cancer_gene.name}"%></h4>
<h4>Genes involved: <%=" #{@consensus_cancer_gene.gene_symbol}"%></h4>
<h4>Mutations found: <%= @mutties.count %></h4>
<h4>Unique Mutations found: <%= @uniq_mutation_count %></h4>
</div>
<div>
<!--
#<div class="monkeys" data-thong="<%#=@thong.to_json%>"></div>
</div> -->
<div class="table">
  <table>
    <thead>
      <tr>
        <th class="col-md-2 " >
          mut id
        </th>
        <th class="col-md-2 " >
          Nature of Mutation
        </th>
        <th class="col-md-2 " >
          Starting Position
        </th>
        <th class="col-md-2 " >
          End position
        </th>
        <th class="col-md-2">
          Original sequence
        </th>
        <th class="col-md-2">
          Mutated sequence
        </th>
        <th class="col-md-2">
          Unedited mut
        </th>
      </tr>
    </thead>
    <tbody>
     <% @page_mutties.each do |genes| %>
     <tr>
       <td class="col-md-2">
         <%= "#{genes.id}" %>
       </td>
       <td class="col-md-2">
         <%= "#{genes.ins_del_single}" %>
       </td>
       <td class="col-md-2">
         <%= "#{genes.nuc_position1}"%>
       </td>
       <td class="col-md-2">
         <% if genes.nuc_position1 == genes.nuc_position2  %>
           <%= "-" %>
         <% else %>
           <%= "#{genes.nuc_position2}"%>
          <% end %>
       </td>
       <td class="col-md-2">
         <% if genes.nuc_change_from.to_i == 0  %>
           <%= "#{genes.nuc_change_from}"%>
          <% else %>
          <%= "unknown"%>
          <% end %>
       </td>
       <td class="col-md-2">
         <%= "#{genes.nuc_change_to}"%>
       </td>
       <td class="col-md-2">
         <%= "#{genes.original_mutation_string}"%>
       </td>
     </tr>
     <%end %>

    </tbody>
  </table>

</div>
<%= paginate @page_mutties %>
