<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<div class='container alert alert-warning col-md-12'>

<h4>Cancer type: <%=" #{@consensus_cancer_gene.name}"%></h4>
<h4>Genes involved: <%=" #{@consensus_cancer_gene.gene_symbol}"%></h4>
<h4>Mutations found: <%= @mutation_count %></h4>
<h4>Unique Mutations found: <%= @uniq_mutation_count %></h4>
</div>

<div class="table">
  <table>
    <thead>
      <tr>
        <th class="col-md-2 ">
          Gene Name
        </th>
        <th class="col-md-2 " >
          Nature of Mutation
        </th>
        <th class="col-md-2">
          Original sequence
        </th>
        <th class="col-md-2">
          Mutated sequence
        </th>
      </tr>
    </thead>
    <tbody>
     <%# @uniq_mutations.each do |genes| %>
     <tr>
      <td class="col-md-1 ">
       <%#= "#{@consensus_cancer_gene.gene_symbol}"%>
      </td>
      <td class="col-md-2">
       <%#= "#{genes}"%>
      </td>
     </tr>
     <%#end %>

     <% @mutties.each do |genes| %>
     <tr>
       <td class="col-md-2 ">
         <%= "#{genes.disease.gene_name}"%>
       </td>
       <td class="col-md-2">
         <%= "#{genes.ins_del_single}" %>
       </td>
       <td class="col-md-2">
         <%= "#{genes.nuc_change_from}"%>
       </td>
       <td class="col-md-2">
         <%= "#{genes.nuc_change_to}"%>
       </td>
     </tr>
     <%end %>

      <!-- <%# @diseases.each do |genes| %>
      <tr>
        <td class="col-md-1 ">
          <%#= "#{genes.gene_name}"%>
        </td>
        <td class="col-md-3 pull-left">
          <%#= "#{genes.cds_mutation_syntax}"%>
        </td>
      </tr>
      <%#end %> -->
    </tbody>
  </table>

</div>
<%#= paginate @diseases %>
<%#= paginate @uniq_mutations %>
<%= paginate @mutties%>
