<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<h2 class="gene-header"><%=" #{@consensus_cancer_gene.name.capitalize}"%></h2>
<div class="clearfix">
  <div class="mutation_container_header clearfix">
    <% if @mutties_not_zero.count == 0 %>
      <div class="single_mutation_header">
        <%="#{@consensus_cancer_gene.gene_symbol} single mutation table (N/A)"%>
      </div>
      <div class="mutation_graph_header">
        <%="#{@consensus_cancer_gene.gene_symbol}: No mutations found"%>
      </div>
    <% else %>
      <div class="single_mutation_header">
        <%="#{@consensus_cancer_gene.gene_symbol.upcase}"%>
      </div>
      <div class="mutation_graph_header">
        <span class="shift-right">

          <%="#{@consensus_cancer_gene.gene_symbol}: #{@mutties_counter} sites hit #{@cut_off} or more times "%>
        <span>
        <span class="cuttoffCounter">
          <%=form_tag({ :action => "show"}, { :method => "get" }) do %>
            <%=select_tag(:mutation_cut_off, options_for_select([1,2,5,10,50,100,500,1000], "really"),
            {:include_blank => true, class: "search-float"} )%>
            <%= submit_tag("Site hit", name: nil, class: "search-form smaller") %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="mutation_container clearfix">
    <div class="single_mutation_data">
      <section>
        <div class="inner-container">
            <article class='single-gene-details clearfix'>
                <section class="column column-two">
                  <p>Gene: <button class="link-format"><%= link_to " #{@consensus_cancer_gene.gene_symbol}",
                  "http://www.ncbi.nlm.nih.gov/gene/#{@consensus_cancer_gene.entrez_geneid}" %></button></p>
                  <p>Unique Mutations: <%= @mutties_not_zero.count %></p>
                </section>
                <section class="column column-two">
                  <% if @consensus_cancer_gene.somatic == nil %>
                    <p>Somatic:<%= " No" %></p>
                  <% else %>
                    <p>Somatic:<%= " #{@consensus_cancer_gene.somatic.capitalize}" %></p>
                  <% end %>
                  <% if @consensus_cancer_gene.germline == nil %>
                    <p>Germline:<%= " No" %></p>
                  <% else %>
                    <p>Germline:<%= " #{@consensus_cancer_gene.germline}" %></p>
                  <% end %>
                </section>
              </article>
              <article class="single-gene-details clearfix">
                <section class="">
                  <table>
                    <thead>
                      <tr>
                        <th>
                          Associated tumuors
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <%@new_hist_array.each do |tumuor|%>
                      <tr>
                        <td>
                        <%= tumuor %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
              </section>
            </article>
        </div>
      </section>
    </div>
        <article class="columns clearfix">
        <section class="column column-two">
        </section>
        <section class="column column-two">
    <div class="push-apart">
    <span class=>Type of mutation:</span><span class="push-right" id="mtype"></span>
    </div>
    <div class="push-apart">
    <span class=>Position from start:</span><span class="push-right" id="initial_position"> </span>
    </div>
    <div class="push-apart">
    <span>Wildtype allele:</span><span class="push-right" id="wtype"></span>
    </div>
    <div class="push-apart">
    <span>Mutant allele:</span><span class="push-right" id="specific_mutation"> </span>
    </div>
    <div class="push-apart">
    <span># of times found:</span><span class="push-right" id="mutation_count"> </span>
    </div>
  </section>
</article>
    <div class="mutation_graph" data-thong="<%=@mutties.to_json%>"></div>
  </div>
</div>
