<% if notice != nil %>
  <div class="alert alert-danger">
    <%= notice %>
</div>
<% end %>
<article class='single-gene-details clearfix'>
  <h3 class="gene-header"><%=" #{@consensus_cancer_gene.name.capitalize}"%></h3>
    <section class="column column-four">
      <p>Gene: <button class="link-format"><%= link_to " #{@consensus_cancer_gene.gene_symbol}", "http://www.ncbi.nlm.nih.gov/gene/#{@consensus_cancer_gene.entrez_geneid}" %></button></p>
      <p>Unique Mutations: <%= @mutties_not_zero.count %></p>
      <% if @consensus_cancer_gene.somatic == nil %>
        <p>Somatic:<%= " No" %></p>
      <% else %>
        <p>Somatic:<%= " #{@consensus_cancer_gene.somatic.capitalize}" %></p>
      <% end %>
      <% if @consensus_cancer_gene.germline == nil %>
        <p>Germline:<%= " No" %></p>
      <% else %>
        <p>Germline:<%= " #{@consensus_cancer_gene.germline}" %></p>
      <% end %>
    </section>
    <section class="column column-four">
      <p>Chromosome: <%=" #{@consensus_cancer_gene.chr}"%></p>
      <p>Entrez id: <%= @consensus_cancer_gene.entrez_geneid %></p>
      <!-- <p><%#= @mutties_counter %> with <%=ActionController::Base.helpers.pluralize(@cut_off, 'hit')%> or more</p> -->
    </section>
</article>
<div class="clearfix">
  <div class="mutation_container_header clearfix">
    <% if @mutties_not_zero.count == 0 %>
      <div class="single_mutation_header"><%="#{@consensus_cancer_gene.gene_symbol} single mutation table (N/A)"%> </div>
      <div class="mutation_graph_header"><%="#{@consensus_cancer_gene.gene_symbol}: No mutations found by those parameters."%></div>
    <% else %>
      <div class="single_mutation_header"><%="#{@consensus_cancer_gene.gene_symbol} single mutation table"%> </div>
      <div class="mutation_graph_header"><%="#{@consensus_cancer_gene.gene_symbol}: #{@mutties_not_zero.count} mutations"%></div>
    <% end %>
  </div>
  <div class="mutation_container clearfix">
    <div class="single_mutation_data"> </div>
    <div class="mutation_graph" data-thong="<%=@mutties.to_json%>"></div>
  </div>
</div>
