
  <h2 class="headformat">
    Current Users
      <small class="pull-right">
        <%= link_to 'Create', new_user_path, class: "btn btn-info"%>
      </small>
  </h2>

  <div class="row">
    <div class="col-md-10">
      <table>
        <thead>
          <tr>
            <th class="col-md-2">
              First Name
            </th>
            <th class="col-md-2">
              Last Name
            </th>
            <th class="col-md-2">
              Age
            </th>
            <th class="col-md-2">
              email
            </th>
            <th>
              Edit?
            </th>
            <th>
              Delete?
            </th>
          </tr>
        </thead>
        <tbody>
          <%@users.each do |user|%>
          <tr>
            <td class="col-md-2">
              <%=user.first_name  %>
            </td>
            <td class="col-md-2">
              <%=user.last_name  %>
            </td>
            <td class="col-md-2">
              <%=user.age  %>
            </td>
            <td class="col-md-2">
              <%=user.email  %>
            </td>
            <td>
              <%= link_to "Edit", edit_user_path(user) %>
            </td>
            <td>
              <%= link_to "delete", user_path(user), method: :delete %>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @users %>
