<div class="well col-sm-5 col-sm-offset-3">
  <% @reg = "reg" %>
  <br>
<div class="adjust-right temp-text" style="text-align: center; font-size: 18px">
  Currently, logged in users can store visited gene information!
</div>
<div class="adjust-right temp-text" style="text-align: center; font-size: 18px">
  However no unique User specific views are yet available....to be added.
</div>
</div>
<%= form_for(@user, url: signup_path) do |f| %>
<div class="login-box">
  <% if f.object.errors.any? %>
    <ul class="errors adjust-right">
      <% f.object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="input-spacing">
    <%= f.text_field :first_name, autofocus: true, class: "field", placeholder: "First name"%>
  </div>

  <div class="input-spacing">
    <%= f.text_field :last_name, class: "field", placeholder: "Last name" %>
  </div>

  <div class="input-spacing">
    <%= f.email_field :email, class: "field", placeholder: "Email" %>
  </div>

  <div class="input-spacing">
    <%= f.password_field :password, class: "field", placeholder: "Password" %>
  </div>

  <div class="input-spacing">
    <%= f.password_field :password_confirmation, class: "field", placeholder: "Confirm password"%>
  </div>

  <div class="input-spacing">
    <%= f.submit "Register", class: "field cancer-entry" %>
  </div>

</div>
<% end %>
</div>
<div class="whitespace">

</div>
