<div>
  <%if notice.present?%>
  <div class="alert alert-success">
    <%= notice %>
  </div>
  <%end%>
  <h1 class="BBGhead">
    <strong>Big Bang Genetic's</strong>
  </h1>

  <div>
    <h3>
      CSV Import of your personal Genomic Data
    <h3>
    <%= form_tag import_diseases_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <%end%>
    <table>
      <thead>
        <tr>
          <th>
            Primary Site
          </th>
          <th>
            Primary Histology
          </th>
          <th>
            Cancer Census
          </th>
        </tr>
      </thead>
      <tbody>
        <%@diseases.each do |disease|%>
        <tr>
          <td>
            <%= disease.primary_site %>
          </td>
          <td>
            <%= disease.primary_histology %>
          </td>
          <td>
            <%= disease.in_cancer_census %>
          </td>
          <td>
            <%= disease.gene_name %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
