<div class="well col-md-5 col-md-offset-3">
<%= form_for(@user, url: signup_path) do |f| %>
  <h1>Register</h1>

  <% if f.object.errors.any? %>
    <ul class="errors">
      <% f.object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "control-label"%>
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "control-label" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :age, class: "control-label" %>
    <%= f.number_field :age, class: "form-control"%>
  </div class="form-group">

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm", class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "Register" %>
  </div>
<% end %>
</div>
<div class="whitespace">

</div>
